body {
    background-image:url("img/BaW.jpg");
}

#container {
			width: 750px;
			margin: 0 auto;
			font-family: Lucida Grande, Tahoma, Arial, Helvetica, sans-serif; 
			color: #666666;
			background-color: #ffffff;
			border: 4px solid #000000;
		}
		
/*definovanie stylov*/



#header {
    height:100px;
    background:#ffffff;
    font-size:16px;
    border-bottom:4px solid #000000;
}

#header h1 {
    margin-top:30px;
    margin-bottom:10px;
    padding:0px 0px 0px 0px;
    text-align:center;
    background:#ffffff;
    color:#000000;
font-family: Lucida Grande, Tahoma, Arial, Helvetica, sans-serif; 

}

#header p{
    margin-top:10px;
    margin-bottom:10px;
    background:transparent;
    color:#b7b1b1;
    font-size:13px;
    text-align:right;

}


#rightbox {

    float: right;
    width: 120px;
	}

#menu{
    margin:10px 0px 0px 0px;
    width:120px;
    background:transparent;
    color:#e0dbdb;
    font-weight:bold;
    text-align:left;
}

#menu a {
    font-size:12px;
}

#menu ul {
    list-style-type:none;
    padding:0px;
    margin:0px;
}
#menu li {

    padding:2px 5px 1px 18px;
    margin:0px;
    border:1px solid #000000;
}

#menu li a {
    font-size:12px;
    text-decoration: none;
}

#menu li:hover {
    background-color:#676060;
}
.rss {
    margin-top:30px;
    margin-left:1px;
    padding-right:5px;
}
.rss p{
    font-size:12px;
    text-align:center;
    border-bottom:1px dashed #000000;
}

.rss ul {
    margin-left:5px;  /*IE needs this*/
    padding-left:0px;
    text-align:left;
    font-size:10px;
    display:inline;
    text-decoration:none;
}

.rss li {
    display:inline;
    margin-left:3px;
    text-align:left;
    font-size:10px;
    color:#000000;

}

.rss a{
    display:inline;
    margin-left:0px;
    text-align:left;
    font-size:10px;
    color:#000000;
}

.rss a:hover {
    background-color:#dfdcdc;
}

.links {
    margin-top:30px;
    padding-right:5px;
}

.links p{
    font-size:14px;
    border-bottom:1px dashed #000000;
    text-align:center;
}

.links a {
    margin-left:0px;
    font-size:12px;
    text-decoration:none;
    color:#000000;
    margin-bottom:1em;
    padding-bottom:1em;
}

.links a:hover {
    background-color:#dfdcdc;

}
#content {
    margin:10px 125px 10px 10px;
				
					
		}

#content p{
    padding:5px 0px 0px 0px;
    font-family: Lucida Grande, Tahoma, Arial, Helvetica, sans-serif; /* Lucida Grande for the Macs, Tahoma for the PCs */
    font-size: 12px;
    line-height: 1.6em;
    color: #000000;
    text-align:justify;
		
		}
form {
    height:150px;
    max-height:200px;
}

div.g-recaptcha {
    margin-top: 7em;
    margin-bottom:5em;
    padding-bottom:2em;
    padding-left:2em;
    
}

h2 {
    padding-top:5px;
    font-size:18px;
    font-weight:bold;
    padding-left:10px;
    color:#000000;
}

h3 {
    padding-left:10px;
    font-size:13px;
}

h4 {
    padding-left:10px;
    font-size:12px;
    color:#cdcaca;
}

p {
    margin:1em;
    padding:1em;
}

#footer {
    height:50px;
    border-top:solid 2px #000000;
    font-size:12px;
}

#footer p,a {
    margin-top:15px;
    color:#000000;
    text-align:center;
}

#footer a {
    color:#bdb8b8;
    text-decoration:none;
}

#footer a:hover{
    color:#ef2d19;
}

img.left {
    padding:3px;
    float: left;
    margin: 0 12px 5px 30px;
    border:2px dashed #000000;}
			
img.right {
    padding:3px;
    float: right;
    margin: 0 15px 5px 10px;
    border:2px dashed #000000;}
			
.white {
    background:#ffffff;
    color:#000000;
}

.black {
    background:#000000;
    color:#ffffff;
}

.white1 {
    color:#000000;
}

.black1 {  
    color:#ffffff;
}

.m {  
    margin-top:5px;
    font-size:10px;
    color:#625dc7;
    border-bottom:1px dashed #625dc7;
}
			